.root {
    display: flex;
    background-color: rgb(30, 32, 30);
}
.map {
    width: 100%;
}
.sidePane {
    min-width: 40px;
    padding: 5px;
    text-align: center;
}
.filterForm {
    margin-top: 5vh;
    color: white;
    text-align: left;
    padding: 20px;
}